<div class="card" data-id="<%= portfolio_item.id %>">
  <%= image_tag portfolio_item.thumb_image if !portfolio_item.thumb_image.nil? %>
  <p class="card-text">
    <h4><%= link_to portfolio_item.title, portfolio_path(portfolio_item) %></h4>
  </p>
</div>
