<h1>Contact us!</h1>
<hr>
<hr>
<br>
<br>

<div class="row">
  <div class="col-md-6">
    <h3>Phone</h3>
    <p><%= number_to_phone "5555555555" %></p>
    <h3>Email</h3>
    <p><a href="mailto:luz@AtitlanRetreats.com?subject=YourAssLooksNice" "email me">Email me</a></p>
    <h3>Location</h3>
    <p>Panajachel, Lago Atitlan, Departamento Sololá</p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30867.75677643938!2d-91.16833823258918!3d14.742553244506661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85894b8cc176193b%3A0x9e3f675068327d28!2sPanajachel!5e0!3m2!1sen!2sgt!4v1521151262362" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
